@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-sky{
  background: linear-gradient(6deg, rgba(201,184,161,1) 17%, rgba(255,255,255,1) 44%, rgba(201,184,161,1) 100%);
  width: 100%;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
td, th{
  padding: 10px;
}
tbody, tfoot{
  font-weight: 700;
}

/* 스타일 속성 */
.brown-light{
  color: #977e5a;
}
.brown-dark{
  color: #574020;
}
.pl-100{
  padding-left: 100px;
}

/* 타이틀 */
.container .title{
  font-family: 'Roboto', sans-serif;
  padding: 30px 0;
}

/* 테이블 */
.cart-table{
  background: #fff;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}

/* 테이블 헤더 */
.cart-table thead{
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #886d46b3;
}
.cart-table .tbody-tr{
  border-bottom: 1px solid #886d46b3;
}

/* 테이블 바디 */
.table-product{
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-product img, .brand-title, .product-name{
  cursor: pointer;
}

/* 테이블 푸터 */
tfoot td{
  text-align: right;
  padding-right: 35px;
}

/* 테이블 밑에 a, button */
.bottom-btns{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  padding-top: 1rem;
  font-size: 20px;
}

.bottom-btns button{
  padding: 15px;
  border: none;
  background: #886d46b3;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.bottom-btns button:hover{
  background: rgba(124, 85, 65, 0.674);
}

.bottom-btns a:hover{
  color: rgba(155, 98, 44, 0.996);
}
.bottom-btns a:link{
  color: rgba(155, 98, 44, 0.996);
}

